.body {
    background-color: black;
    margin: 0px;
}

.header {
  position: relative;
  display: flex;
   justify-content: center;
  align-items: center;
  top: 10px;
  width: auto;
}

.search-input {
  display: fixed;
  padding: 12px 220px 12px 20.4px;
  font-size: 16px;
  border: 2px solid #BF00FF;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #ff0000f5;
  box-shadow: 0 0 5px rgb(168, 32, 209);
}

.search-button {
  padding: 12px 20px;
  margin-left: -93.2px;
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;

}

.search-button:hover {
  background-color: #0056b3;
}

/*Universal class for all the shadow box*/
.shadow-box {
  flex-direction: row-reverse;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  height: 200px;
  width: 1010px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgb(128,0,128), 0 0 15px rgb(0,128,128), 0 0 15px rgb(255,255,255);
  margin: 40px 20px;
  
}

.vinlandsaga-title {
 width: 900px;
 top: 0%;
 right: 0%;
  font-size: 30px;
  font-weight: bold;
  color: #ff0000; /* margin: top right bottom left; */
  
}
.vinlandsagaimage {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
  flex-shrink: 0;
  background-image: url(image.jpg);
  background-size: 300px 300px;
  border-radius: 15px 15px;
  background-repeat: no-repeat;

}




/*WHRER WE START MHA */



.MHA-title {
 width: 900px;
 top: 0%;
 right: 0%;
  font-size: 30px;
  font-weight: bold;
  color: #ff0000; /* margin: top right bottom left; */
  
}
.MHA-image {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
  flex-shrink: 0;
  background-image: url(MHA.jpg);
  background-size: 300px 300px;
  border-radius: 15px 15px;
  background-repeat: no-repeat;

}

/*where we start dragon-ball-(1986)*/

.dragon-ball-1986-title {
 width: 900px;
 top: 0%;
 right: 0%;
  font-size: 30px;
  font-weight: bold;
  color: #ff0000; /* margin: top right bottom left; */
  
}
.dragon-ball-1986-image {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
  flex-shrink: 0;
  background-image: url(dragon-ball-1986.jpg);
  background-size: 300px 300px;
  border-radius: 15px 15px;
  background-repeat: no-repeat;

}